<a href="https://colab.research.google.com/github/gwiederhecker/F540/blob/master/C%C3%B3pia_de_Concatenating_multiple_dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Simple Numpy concatenation of Pandas DataFrames
 Pandas DataFrames are great, but limited to 2D data. Although there other packages like XArray that implement a 3D version of DataFrames,  they often have a far more complex notation and interface. 
 One easy workaround is  to build a  Numpy list of DataFrames. This could help when loading multiples dataset at once.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dfs=[] # lista de dataframes
for i in range(0,3):
    temp = pd.DataFrame() #datafra
    temp['test'] = np.array([1,2,3]) + i
    dfs.append(temp)

In [ ]:
dfs[0]

   test
0     1
1     2
2     3

In [ ]:
dfs[1]

   test
0     2
1     3
2     4

In [ ]:
dfs[2]

   test
0     3
1     4
2     5