In [8]:
import pandas as pd
import numpy as np

In [9]:
dfs=[] # lista de dataframes
for i in range(0,3):
    temp = pd.DataFrame() #datafra
    temp['test'] = np.array([1,2,3]) + i
    dfs.append(temp)

In [14]:
dfs[0]

   test
0     1
1     2
2     3

In [15]:
dfs[1]

   test
0     2
1     3
2     4

In [16]:
dfs[2]

   test
0     3
1     4
2     5